[Unit]
Description=F5 LBaaS BIG-IP Agent
After=network-online.target
Requires=network-online.target

[Service]
User=neutron
ExecStart=/usr/bin/f5-oslbaasv1-agent --log-file /var/log/neutron/f5-oslbaasv1-agent.log --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/f5-oslbaasv1-agent.ini
Restart=always

[Install]
WantedBy=multi-user.target
